:root {
  --brand-color: #2196f3;
  --text-color: #212121;
  --bg-color: #2f303a;
  --p-color: #757575;
  --white-color: #ffffff;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--text-color);
  background-color: var(--white-color);
  margin: 0;
  padding: 0;
}

.menu-logo {
  border: 1px solid #ececec;
  padding-top: 24px;
  padding-bottom: 25px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  /* outline: 1px dotted var(--p-color); */
}
.list {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
  gap: 30px;
}

.section {
  margin-top: 94px;
  margin-bottom: 94px;
}

/* menu */
.icon {
  vertical-align: middle;
  fill: currentColor;
  margin-right: 10px;
}

.icon:hover,
.icon:focus .icon:active {
  fill: var(--brand-color);
}

.menu-box {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  justify-content: space-between;
}
.first-menu-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.second-menu-box {
  display: flex;
  justify-content: space-between;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  margin-right: 93px;
}
.first-part-logo {
  color: var(--brand-color);
}
.secend-part-logo {
  color: var(--white-color);
}
.menu {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  background-color: var(--white-color);
}

.menu.menu-nav {
  text-transform: uppercase;
}
.menu-nav {
  text-decoration: none;
  cursor: pointer;
  color: var(--text-color);
}

.menu-nav:hover {
  color: var(--brand-color);
}
.menu-mail {
  font-weight: 500;
  text-decoration: none;
  cursor: pointer;
  color: var(--p-color);
  margin-right: 50px;
}
.menu-mail:hover {
  color: var(--brand-color);
}
.menu-phone {
  text-decoration: none;
  font-weight: 500;
  cursor: pointer;
  color: var(--p-color);
}
.menu-phone:hover {
  color: var(--brand-color);
}

.primary {
  background-color: var(--bg-color);
  background-image: url(../images/header-img.jpg),
    linear-gradient(90deg, rgba(47, 48, 58, 0.4) 0%, rgba(47, 48, 58, 0.4) 0%);
  background-repeat: no-repeat;
  background-position: center;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  text-align: center;
  border: 1px solid transparent;
  padding: 94px 0;
}

.primary-title {
  max-width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-transform: uppercase;
  color: var(--white-color);
  margin: 106px 252px 0;
  letter-spacing: 0.06em;
  text-align: center;
}
.primary-bg {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
  border-radius: 4px;
  border-style: none;
  background-color: #f5f4fa;
  padding: 10px 41px;
  margin-top: 30px;
  margin-bottom: 106px;
}
.primary-bg:hover {
  background-color: var(--brand-color);
  color: var(--white-color);
  border-style: none;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

/*atuty*/
.feature-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}
.feature-section {
  color: (--p-color);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* oferta */

.tender-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

/*zespół*/
.team {
  background-color: #f5f4fa;
  text-align: center;
}
.team-card {
  width: 270px;
  background-color: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  padding-top: 94px;
  padding-bottom: 50px;
  margin: 0;
}
.team-name,
.portfolio-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--text-color);
  padding-left: 24px;
}
.team-job,
.portfolio-job {
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--p-color);
  padding-left: 24px;
}
.social-box {
  display: flex;
  justify-content: space-around;
  margin-top: 16px;
  margin-bottom: 18px;
  margin-right: 32px;
  margin-left: 32px;
}

.social-icon-box {
  width: 44px;
  height: 44px;
}

.icon-social {
  fill: #afb1b8;
}

.social-icon-box:hover,
.social-icon-box:focus,
.social-icon-box:active {
  cursor: pointer;
  fill: var(--white-color);
  border-radius: 50%;
  background-color: var(--brand-color);
}

/* klienci */
.client-box {
  display: flex;
  justify-content: space-between;
  margin-bottom: 94px;
}
.icon-client {
  fill: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  width: 170px;
  height: 92px;
}
.icon-client:hover,
.icon-client:focus,
.icon-client:active {
  fill: var(--brand-color);
  border: 1px solid #2196f3;
  border-radius: 4px;
  cursor: pointer;
}

/*stopka*/
.contact {
  background-color: var(--bg-color);
  height: 252px;
}
.contact-box {
  padding-top: 15%;
}
.contact-list {
  list-style-type: none;
  padding-left: 0;
}
.contact-data {
  text-decoration: none;
  color: var(--white-color);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  padding-top: 20px;
}
.contact-mail,
.contact-phone {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}
.social-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}
.column1of2 {
  float: left;
  width: 246px;
  margin-right: 70px;
}
.column2of2 {
  float: left;
  width: 206px;
  margin-top: 72px;
}
.icon-box {
  display: flex;
  justify-content: center;
}
.icon-social-box {
  width: 44px;
  height: 44px;
  margin-right: 10px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-position: absolute;
}

.icon-social {
  fill: #afb1b8;
}

.icon-social:hover,
.icon-social:focus,
.icon-social:active {
  cursor: pointer;
  fill: var(--white-color);
}
.icon-social-box:hover,
.icon-social-box:focus,
.icon-social-box:active {
  cursor: pointer;
  background-color: var(--brand-color);
}

/*portfolio*/

.filter {
  display: flex;
  border-radius: 4px;
  text-align: center;
  letter-spacing: 0.03em;
  padding-top: 94px;
  padding-bottom: 50px;
}
.filter-bg {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  color: var(--text-color);
  background-color: #f5f4fa;
  border-radius: 4px;
  cursor: pointer;
  border-style: none;
  width: 121px;
  height: 38px;
  padding-right: 8px;
}
.filter-bg:hover,
.filter-bg:focus {
  background-color: var(--brand-color);
  color: var(--white-color);
  border-style: none;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.portfolio {
  background-color: var(--white-color);
}
.portfolio-box {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 94px;
  gap: 30px;
}
.portfolio-card {
  background-color: var(--white-color);
  border-radius: 0px 0px 4px 4px;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  width: 370px;
  height: 404px;
}
.portfolio-card:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
}
